.p0 {
            padding: 0;
        }

        .resCarousel-inner .item {
            /*border: 4px solid #eee;*/
            /*vertical-align: top;*/
            text-align: center;
        }

        .resCarousel-inner .item .tile div,
        .banner .item div {
            display: table;
            width: 100%;
            height: 250px;
            text-align: center;
            /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
        }


        .resCarousel-inner .item h1 {
            display: table-cell;
            vertical-align: middle;
            color: white;
        }

        .item {
            background: url('demoImg.jpg') center top no-repeat;


        }

        .item .tile div {

            background-size: cover;
            color: white;
        }

        .item div h1 {
            background: rgba(0, 0, 0, .4);
        }

        /*resCarousel Css*/

.outt {
    display: none;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left:-65px;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    right:-65px;
    bottom: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
}

.resCarousel {
    /*float: left;
    overflow: hidden;*/
    width: 100%;
    position: relative;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
}

.resCarousel-inner .item {
    display: inline-block;
    font-size: 14px;
    white-space: initial;
}


/*banner*/

.banner {
    overflow: hidden !important;
}


/*tile css*/

.resCarousel-inner .item .tile {

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
}


/*animation*/

/* .resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
} */

@media (max-width: 767px) {
    .leftRs,
    .rightRs {
        /*display: none;*/
    }
    .resCarousel-inner {
        overflow-x: auto;
    }
}

.ResSlid0 .item {
    width: 15.5%;
    /* height: 232px; */
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5% !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin:2% 5% 5% 5%;
    height:40vh;
}

@media(max-width: 480px){
    .container{
     margin-top:20% !important;
    }
    button {
    display:none !important;
    }
    button {
    display:none !important;
    }
}
